{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% block content %}

<body class="odd">
    <div class="orders mt-5">
        {% for item in orders %}
        <div class="order">
            <img src="/main/{{item.product.image}}" width="200px"><br><br>
            <p>{{item.price}}</p>
            <p>{{item.product.name}}</p>
            {% comment %} <p>{{item.order.created_at}}</p> {% endcomment %}
        </div>

        {% endfor %}

    </div>
</body>
{% endblock %}

</html>