{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supermarket</title>
    {% block link %}
    <link rel='stylesheet' href="{% static "css/main.css" %}">
    {% endblock %}

    {% block content %}

</head>

<body>
    <h1 class="ww " style="color:orange">Wishlist</h1>
    <div id="cart-container">
 
        <!-- Cart items table -->
        <table>
            <thead style="background-color:lightgray;justify-content:center">
                <tr>                
                   <td>Product</td>
                   <td>Name</td>
                   <td>Price</td>
                 <td>Buy</td>
                   <td>Remove</td>
                </tr>
            </thead>
            <tbody>
                <!-- Example cart item row -->
                {% for item in wish %}
                <tr>
                    <td  class="round-circle"><img src="/supermarket/{{item.items.image}}" width="100px"></td>
                    <td>{{item.items.name}}</td>
                    <td class="rupee" style='color:red;' name="price">$ {{item.items.price}}</td>
                    <td>
                        <a href="{% url 'placeorder' %}" style="text-decoration:none;color:black;"> Buy This Now</a>
                          </td>
                    <td>
                        <a href="{% url 'rejectwish' item.id  %}"><img src="../static/images/download (1).jpeg" width="40px"></a>
                    </a></td>
                </tr>
                {% endfor %}
                <!-- Add more rows for additional items -->
            </tbody>
        </table><hr>

        <!-- Checkout button -->
        
    </div>
    {% endblock%}   
</body>

</html>
